.about {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 100px;

  &__item {
    position: relative;
    padding: 80px 40px 40px 200px;
    border: 10px solid #ffee00;
    background-color: #884e22;
    height: 300px;
  }

  &__item + &__item {
    margin-left: 80px;
  }

  &__item:nth-child(2) {
    border: 10px solid aqua;
  }

  &__item:nth-child(1)::before,
  &__item:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 10px;
    bottom: 50px;
  }

  &__item:nth-child(1)::before {
    background-image: url(../../../assets/game.png);
  }

  &__item:nth-child(2)::before {
    background-image: url(../../../assets/food.png);
  }
}