.game {
  margin-top: 50px;

  &__window {
    border: 10px solid #f4f4f4;
    border-radius: 25px;
    height: 100vh;
  }
  
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    max-height: 240px;
  }

  &__box {
    border-top: 10px solid #f4f4f4;
  }
}
