.game {
  margin-top: 50px;

  &__window {
    border: 10px solid #f4f4f4;
    border-radius: 25px;
    height: 100vh;
  }
  
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    max-height: 240px;
  }

  &__box {
    position: relative;
    border-top: 10px solid #f4f4f4;
  }

  &__startBox {
    text-align: center;
  }

  &__startBtn {
    position: relative;
    border: none;
    padding: 15px;
    background-color: #86ac41;
    border-radius: 40px;
    color: inherit;
    font-size: 66px;
    transition: all 0.5s;
  }

  &__startIcon {
    position: absolute;
    bottom: -270px;
    left: 80px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #86ac41;
    transition: all 0.5s;
  }

  &__startIcon::before {
    position: absolute;
    content: '';
    top: 55px;
    left: 100px;
    border-left: solid 100px #fff;
    border-bottom: solid 70px transparent;
    border-top: solid 70px transparent;
  }

  &__startBtn:hover {
    background-color: #fff;
    color: #86ac41;
  }

  &__startBtn:hover &__startIcon::before {
    border-left: solid 100px #86ac41;
  }

  &__startBtn:hover &__startIcon {
    background-color: #fff;
  }

  &__timer {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 90px;
    width: 140px;
    height: 140px;
    background-color: #86ac41;
    padding-top: 15px;
    padding-left: 40px;
    border-radius: 50%;
  }
}
